{% extends 'main/base.html' %}

{% block content %}

{% load static %}

<div class="featured">
    <img src="{% static 'images/img.jpg' %}" alt="">
</div>

<div class="latest-products pt-5 pb-0">
    <div class="container-xl">
        <div class="section-tile row">
            <div class="col-md-10 text-center mx-auto">
                <h2>Featured Products</h2>
                <p> Some of our product</p>
            </div>
        </div>



        <div class="content">
            <div class="product-container">

                <div class="product-box">
                    <img src="{% static 'images/product1.png' %}" class="product-image" alt="Your Image">
                    <div class="product-name">Hoodie Set</div>
                    <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                    <div class="price">Rs 2500</div>
                </div> 

                <div class="product-box">
                    
                    <img src="{% static 'images/product2.png' %}" class="product-image" alt="Your Image">
                    <div class="product-name">Charm Bracelet</div>
                    <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                    <div class="price">Rs 2000</div>
                </div>

                <div class="product-box">

                    <img src="{% static 'images/product3.png' %}" class="product-image" alt="Your Image">`
                    <div class="product-name">Perfume Set</div>
                    <div class="stars">&#9733;&#9733;&#9733;&#9733;&#9733;</div>
                    <div class="price">Rs 3000</div>
                </div>

            

            </div>
        </div>
    </div>




{% endblock %}
